module <%= appName %>.Colors

open LibClient.ColorModule
open LibClient.ColorScheme

type <%= appName %>ColorScheme() =
    inherit ColorSchemeWithDefaults()

    override this.Primary   : Variants = MaterialDesignColors.``Light Green``
    override this.Secondary : Variants = MaterialDesignColors.Cyan

    // example of how to add additional colours outside of the regular scheme
    member _.SomeSpecialColor = Color.Hex "#abc123"

let colors = <%= appName %>ColorScheme()
